API_PORT = 9000
HTTP_PROXY =
HTTPS_PROXY =

MONGO_DB_CONNECTION_URI = mongodb://<container name>:<port>
MONGO_DB_ADMIN_USERNAME =
MONGO_DB_ADMIN_PASSWORD =
MONGODB_CHAT_DATABASE =
MONGODB_CHAT_COLLECTION =