# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Poetry files
poetry.lock
# (По желанию: pyproject.toml, если не хотите шарить зависимости)

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.pot

# Environments
.env
.venv/
venv/
ENV/
env.bak/
env/

# PyCharm & VS Code
*.idea/
*.vscode/
*.swp

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# FastAPI & Uvicorn logs
*.log

# Kafka data (если запускаете локальный kafka через docker-compose)
kafka-logs/
zookeeper-logs/

# Docker
*.pid
docker-compose.override.yml
docker-compose.local.yml

# Docker volumes
volumes/

# Ignore local configuration files
*.local
*.envrc

# macOS
.DS_Store

# System Files
Thumbs.db
Desktop.ini